asgiref==3.3.4
astroid==2.5.7
certifi==2021.5.30
chardet==4.0.0
cloudscraper==1.2.58
colorama==0.4.4
Django==3.2.3
django-cors-headers==3.7.0
djangorestframework==3.12.4
huey==2.3.2
idna==2.10
isort==5.8.0
jsonpickle==2.0.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
nt.py==4.0.1
pep8==1.7.1
Pillow==8.2.0
psycopg2==2.8.6
pylint==2.8.2
pyparsing==2.4.7
pytz==2021.1
redis==3.5.3
requests==2.25.1
requests-toolbelt==0.9.1
sqlparse==0.4.1
toml==0.10.2
urllib3==1.26.5
wrapt==1.12.1
