.help-icon {
    color: rgba(0, 0, 0, 0.85);
}

.label-paragraph {
    padding-bottom: 0px;
    margin-bottom: -5px;
}

.confirm-delete-password-box {
    margin-top: 20px;
}

.profile-input-box {
    max-width: 560px;
}

.dialog-space {
    margin-bottom: 10px;
}

.deletionModal {
  max-width: 416px !important;
}

.password-form {
  margin-top: -10px;
  margin-bottom: -25px;
}

.password-form-input {
  margin-top: 20px;
}

.profile-card-1 {
  max-width: 560px;
}
