.mrg-right-25 {
    margin-left: 25px;
}

.display-api-card {
    max-width: 800px;
}

.viewapi-button {
    position: relative;
    top: 8px;
}

.padding-within > div {
    padding-left: 25px !important;
}
